{% extends "layout.html" %}
{% block body %} 
        <!-- Page Header-->
        <header class="masthead" style="background-image:url('{{ url_for('static', filename='assets/img/post-bg.jpg') }}')">

            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Hey</h1>
                            <h2 class="subheading">You can add sub-heading here</h2>
                            <span class="meta">
                                Posted by Nishant
                                on 
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
       
    <article>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              
  
              
            </div>
          </div>
        </div>
      </article>
  
     {% endblock %}